
.swatch-header {
    box-shadow: 0pt 3pt 8pt rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 3pt 10pt;
    z-index: 1;
}

.swatch-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

swatch {
    width: 10%;
    min-width: 75pt;
    z-index: -1;
}
