
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Overpass');
@import './vars';

* {
    margin: 0;
    font-family: 'Overpass', 'Segoe UI Emoji', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Major Mono Display', 'Segoe UI Emoji', monospace;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

.color-picker {

    border: none !important;

}

// Button

button {

    margin: 8pt auto;
    padding: 8pt;
    max-width: 160pt;
    width: 50%;
    min-width: 80pt;

    background-color: $color-light;
    box-shadow: $shadow;

    border: none;

}

// Card and Hoverable from justinschaaf.com

.card {

    margin: 16pt auto;
    padding: 16pt;
    max-width: 30%;
    min-width: 192pt;
    //height: 380pt;

    background-color: $color-light;
    box-shadow: $shadow;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    .card-start {
        justify-self: flex-start;
        margin: 0 auto auto auto;
    }

    .card-content {
        justify-self: center;
        text-align: left;
        margin: auto;
    }

    .card-end {
        justify-self: flex-end;
        margin: auto auto 0 auto;
    }

}

.hoverable {
    transition: $transition-time;
}

.hoverable:hover {

    animation-name: hover;
    animation-duration: $transition-time;

    transform: translateY(-16pt);
    //padding: 20pt !important;
    box-shadow: $shadow-hover !important;

}

// References used to learn how to do these animations:
// http://www.inwebson.com/css3/nifty-hover-effects-with-css3-animations/
// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations 
@keyframes hover {

    from {
        transform: translateY(0pt);
        //padding: 16pt !important;
        box-shadow: $shadow !important;
    }
  
    to {
        transform: translateY(-16pt);
        //padding: 20pt !important;
        box-shadow: $shadow-hover !important;
    }

}
